* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #222222;
    color: white;
    font-family: Caros, "Montserrat", sans-serif;
}

#stage,
#hoverLabel,
#clickLabel {
    background-color: #111111;
    width: 1920px;
}

#stage {
    height: 1080px;
}

.btn {
    position: absolute;
    color: white;
    background-color: #111111;
    border: none;
    font-family: 'Caros', sans-serif;
}

#hoverSeason {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: -270px;
    font-size: 18px;
}

#hoverContinent {
    height: 40px;
    width: 341px;
    margin-left: 80px;
    margin-top: 16px;
    font-size: 24px;
}

#hoverYear {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: 16px;
    font-size: 18px;
}

#hoverCity {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: 8px;
    font-size: 18px;
}

#hoverMedalist {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: 8px;
    font-size: 18px;
}

#hoverOriginMap {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: -180px;
    font-size: 18px;
}

#hoverCountryMap {
    height: 40px;
    width: 341px;
    margin-left: 80px;
    margin-top: 16px;
    font-size: 24px;
}

#hoverMedalistMap {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: 16px;
    font-size: 18px;
}

#hoverGender {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: -120px;
    font-size: 18px;
}

#hoverAge {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: 16px;
    font-size: 18px;
}

#hoverWeight {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: 16px;
    font-size: 18px;
}

#hoverHeight {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: 16px;
    font-size: 18px;
}

#hoverCount {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: 16px;
    font-size: 18px;
}

.spiral {
    top: 50px;
    left: 80px;
    color: white;
    font-weight: normal;
    font-size: 30px;
}

.map {
    top: 50px;
    left: 220px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 30px;
}

.diagram {
    top: 50px;
    left: 360px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 30px;
}

.summer {
    top: 56px;
    left: 1600px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 24px;
}

.winter {
    top: 56px;
    left: 1720px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 24px;
}

.all {
    top: 110px;
    left: 80px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 24px;
}

.gold {
    top: 110px;
    left: 150px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 24px;
}

.silver {
    top: 110px;
    left: 260px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 24px;
}

.bronze {
    top: 110px;
    left: 370px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 24px;
}

.ageAndHeight {
    top: 110px;
    left: 80px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 24px;
}

.weightAndAge {
    top: 110px;
    left: 150px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 24px;
}

.heightAndWeight {
    top: 110px;
    left: 260px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 24px;
}