* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #222222;
    color: white;
    font-family: 'Caros', sans-serif;
}

#stage,
#hoverLabel,
#clickLabel {
    background-color: #1E1E1E;
    width: 100vw;
}

#stage {
    height: 100vh;
}

#hoverLabel,
#clickLabel {
    margin-top: 5px;
    height: 20px;
}

.country {
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 100%;
}

.hover {
    background-color: gray;
}

.clicked {
    background-color: red;
}

.continents {
    position: absolute;
    left: 5vw;
    top: 75vh;
    font-size: 14pt;
    line-height: 20pt;
}