* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #222222;
    color: white;
    font-family: 'Caros', sans-serif;
}

#stage,
#hoverLabel,
#clickLabel {
    background-color: #111111;
    width: 1920px;
}

#stage {
    height: 1080px;
}

.btn {
    position: absolute;
    color: white;
    background-color: #111111;
    border: none;
    font-size: 30px;
    font-family: 'Caros', sans-serif;
}

#hoverSeason {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: -367px;
    font-size: 18px;
}

#hoverContinent {
    height: 40px;
    width: 341px;
    margin-left: 80px;
    margin-top: 16px;
    font-size: 32px;
}

#hoverYear {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: 16px;
    font-size: 20px;
}

#hoverCity {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: 8px;
    font-size: 20px;
}

#hoverMedalists {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: 8px;
    font-size: 20px;
}

#hoverSeasonMap {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: -180px;
    font-size: 18px;
}

#hoverCountryMap {
    height: 40px;
    width: 341px;
    margin-left: 80px;
    margin-top: 16px;
    font-size: 32px;
}

#hoverMedalistMap {
    height: 24px;
    width: 341px;
    margin-left: 80px;
    margin-top: 16px;
    font-size: 20px;
}

.showSpiral {
    top: 50px;
    left: 80px;
    color: white;
    font-weight: bold;
}

.showMap {
    top: 50px;
    left: 220px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
}

.showDiagram {
    top: 50px;
    left: 360px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
}

.continent-legend {
    position: absolute;
    /* width: 152px;
    height: 211px; */
    left: 50px;
    top: 800px;
    font-family: 'Caros', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #FFFF;
    /* z-index: 2; */
    cursor: pointer;
}

#hoverLabel,
#clickLabel {
    top: 5px;
    height: 20px;
}

.country {
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 100%;
}

.medalistsAtSummerGames {
    background-color: #FF7A00;
    position: absolute;
    border-radius: 100%;
}

.hoverSummer {
    background-color: #693200;
}

.medalistsAtWinterGames {
    background-color: #00C2FF;
    position: absolute;
    border-radius: 100%;
}

.hoverWinter {
    background-color: #005874;
}

.continents {
    position: absolute;
    left: 5vw;
    top: 75vh;
    font-size: 14pt;
    line-height: 20pt;
}